:root {
  --dark: #0d1117;
  --blue: #41a2f8;
  --green: #7ac651;
  --purple: #c69cf0;
  --orange: #f06f29;
}

body {
  background-color: var(--dark);
  font-family: "Nunito", sans-serif;
}

.title {
  color: var(--blue);
}

.subtitle {
  color: var(--green);
}

.text-todo {
  display: block;
  color: var(--orange);
  font-size: .8rem;
  opacity: .8;
  font-style: italic;
}